<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"> <!-- utf-8 works for most cases -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <title>Adya</title> <!-- The title tag shows in email notifications, like Android 4.4. -->
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" bgcolor="#222222" style="margin:0; padding:0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none;">
<table cellpadding="0" cellspacing="0" border="0" height="100%" width="100%" bgcolor="#fff" style="border-collapse:collapse;"><tr><td>

  <!-- Email wrapper : BEGIN -->
  <table border="0" width="600" cellpadding="0" cellspacing="0" align="center" style="width:600px; margin: auto;border:1px solid #757575;" class="email-container">
    <tr>
      <td>

        <!-- Logo + Links : BEGIN -->
        <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#fff">
           <tr bgcolor="#262626">
            <td valign="middle" width="160" style="padding:5px 0; text-align:center; line-height: 0;" class="stack-column-center">
              <img src="https://app.adyatest.com/static/media/AdyaLogo.d25e4b9d.png" alt="Adya" border="0" style="margin: auto;width: 160px;">
            </td>
          </tr>

        <tr style="border-right:1px solid #757575;border-left: 1px solid #757575;" align="center">
          <td align="" style="font-size: 23px; color:#454545; text-align: center;padding: 18px 0 18px 0;font-weight: bold;font-family: 'Open Sans', sans-serif;">
           Google Drive Exposure Summary
          </td>
        </tr>
      
        </table>
      
      <table border="0" width="90%" cellpadding="0" cellspacing="0" bgcolor="#fff" align="center" style="margin-bottom:25px;">
        <tr>
          <th bgcolor="#636363" colspan="2"><h3 style="color:#fff;margin:5px 0;font-family: 'Open Sans', sans-serif;font-weight: bold;">Summary</h3></th>
        </tr>
        <tr bgcolor="#ededed" style="font-family: 'Open Sans', sans-serif;">
            <td valign="left" width="45%" style="padding-left: 10%; text-align:left; line-height: 0;">
             <p style="color:#2e419a;font-size: 26px;font-weight: bold;line-height: 7px;">{{countDocuments}}</p>
             <p style="color:#000;font-size: 24px;font-weight: bold;line-height: 7px;">Shared</p>
             <p style="color:#000;font-size: 24px;font-weight: bold;line-height: 7px;">Documents</p>
            </td>
            <td valign="middle" width="55%" style="text-align:left;">
             <ul style="font-size: 18px;font-weight: bold;padding: 0;">
              <li style="margin: 10px 0px;color: #4285f4;">{{countDomainData}} shared across company</li>
              <li style="margin: 10px 0px;color:#f8be32;">{{countExternalData}} shared with users outside the company</li>
              <li style="margin: 10px 0px;color:#db4437;">{{countLinkData}} shared public links</li>
            </ul>
            </td>
          </tr>
        </table>

        <table border="0" width="90%" cellpadding="0" cellspacing="0" bgcolor="#fff" align="center" style="font-family: 'Open Sans', sans-serif;">
     
           <tr align="center">
            <td>
              <a href="https://app.adya.io/"><button style="font-family: 'Open Sans', sans-serif;cursor:pointer;border:0px solid;padding:10px;background-color: #F46518;width:97%;color:#fff;font-size: 18px;font-weight: bold;">Login to Adya to cleanUp files</button></a>
            </td>
            </tr>
           <tr bgcolor="#fff" style="background-color: #fff;margin-bottom: 2px;height:2px;"><td></td>
          </tr>

        </table>
         <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#fff" style="margin-top: 20px;">
           <tr bgcolor="#262626">
            <td valign="middle" width="" style="padding:5px 200px; text-align:center;" class="stack-column-center">
              <p style="color:#fff;font-family: 'Open Sans', sans-serif;font-size: 14px;">For more info, visit <a href="https://www.adya.io/" style="color:#fff;">Adya.io</a></p>
            </td>
          </tr>
        </table>

  </td>
</tr>
</table>

  </table>
</body>
</html>